/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1680px;
}

/* UTILITIES */
.container {
    width: 1250px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float_l {
    float: left;
}

/*SECTION INTRODUCTION*/
.introduction {
    background-color: #3161e0;
    color:white;
    padding: 20px 0;
}

header div,
header nav {
    display: inline-block;
}

.main_menu ul li {
    display: inline-block;
    text-decoration: none;
    padding: 7px 20px
}

a {
    text-decoration: none;
    display: inline-block;
}

.logo {
    width: 20%;
}

.logo img {
    width:130px;
    vertical-align: middle;
}

.main_menu {
    width: 60%;
    text-align: center;
}

.main_menu a {
    color: white;
    font-size: 13px;
}

.login {
    width: 20%;
    text-align: right;
    padding: 0 10px;
}

/* HERO */
.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 500px;
}

/* BUTTONS */
.white_button {
    background-color: white;
    color: black;    
}

.black_button {
    background-color: black;
    color: white;
}

.strict_button {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
}

.wide_button {

}