/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1680px;
}

/* UTILITIES */
.container {
    width: 1250px;
    margin: 0 auto;
}

.strict_container {
    width: 600px;
    margin: 0 auto;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.wide_column {
    width: 60%;
    padding:0 80px;
}

.strict_column {
    width: 25%;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

p {
    line-height: 30px;
    margin-bottom: 30px;
}

/*SECTION INTRODUCTION*/
.introduction {
    background-color: #3161e0;
    color:white;
    padding-top: 20px;
}

header div,
header nav {
    display: inline-block;
}

.main_menu ul li {
    display: inline-block;
    text-decoration: none;
    padding: 7px 20px
}

a {
    text-decoration: none;
    display: inline-block;
}

.logo {
    width: 20%;
}

.logo img {
    width:130px;
    vertical-align: middle;
}

.main_menu {
    width: 60%;
    text-align: center;
}

.main_menu a {
    color: white;
    font-size: 13px;
}

.login {
    width: 20%;
    text-align: right;
    padding: 0 10px;
}

/* HERO */
.hero {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 500px;
    text-align: center;
    position: relative;
}

.hero_content {
    width: 800px;
    padding: 0 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    padding: 10px 0;
    margin-bottom: 40px;
    font-size: 45px;
}

/* BUTTONS */
.white_button {
    background-color: white;
    color: black;    
}

.black_button {
    background-color: black;
    color: white;
}

.strict_button {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 20px;
}

.wide_button {
    padding: 15px 25px;
    border-radius: 30px;
}

/* SECTION PAGES */
.page {
    padding: 130px 0;
}
.second.page {
    background-color: #f6f6f6;
}

.page h2 {
    font-size: 35px;
    line-height: 50px;
    font-weight: 800;
    margin-bottom: 40px;
}

.fourth.page {
    text-align: center;
    background-color: #f6f6f6;
}

.page h3 {
    display: inline-block;
    font-size: 25px;
    height: 120px;
    line-height: 120px;
    font-weight: 800;
    margin-top: 40px;
    padding: 0 50px;
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.fourth.page a {
    display: inline-block;
    background-color: #8ea1e1;
    color: white;
}

/* FOOTER */
footer {
    background-color: #23272a;
    color: white;
}
footer .container {
    padding: 90px 0 40px;
    border-bottom: 1px solid #4a5882;
}
.column_contacts {
    width: 25%;
    margin-right: 60px;
}

.flag {
    display: inline-block;
    object-fit: contain;
    width: 24px;
    height: 14px;
    margin-bottom: 25px;
}
.flag img {
    vertical-align: middle;
}

.column_contacts h3 {
    font-size: 25px;
    color: #7289da;
    font-weight: 900;
    margin-bottom: 30px;
}

.column_contacts span {
    font-size: 14px;
}

.column_useful_links {
    width: 16%;
    font-size: 13px;
    padding: 0 30px;
}

footer h4 {
    color: #7289da;
    padding: 0 0 10px;
}
footer a {
    display: block;
    color: white;
    padding: 10px 0;
}

footer .container {
    padding: 35px 0 100px;
}
footer .strict_button a {
    font-weight: 600;
    color: white;
    background-color: #8ea1e1;
    padding: 10px 15px;
    border-radius: 20px;
}